*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}
.main-container{
    max-width: 1100px;
    margin: auto;
}
#add-task-container{
    width: 100%;
    padding: 20px 10px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 3px;
    margin-bottom: 20px;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}
input{
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px;
    width: 80%;
}
#add-task{
    font-size: 1.2rem;
    padding: 5px;
    background-color: #fff;
    color: green;
    border: 2px solid green;
    border-radius: 10px;
    transition: .5s;
}
#add-task:hover{
    background-color: green;
    color: #fff;
}

/* styling for task for java */

.task{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.task li{
    list-style: none;
    flex: 4;
    padding: 5px;
    font-size: 1.3rem;
    margin: 10px;
}
.task button{
    flex: 1;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}
.task .checkTask{
    color: orange;
    margin-right: 5px;
    border: 2px solid orange;
    font-size: 1.5rem;
    transition: .5s;
}
.task .checkTask:hover{
    background-color: orange;
    color: #fff;
}
.task .deleteTask{
    color: red;
    margin-right: 5px;
    border: 2px solid red;
    font-size: 1.5rem;
    transition: .5s;
}
.task .deleteTask:hover{
    background-color: red;
    color: #fff;
}